@{
}

<section class="relative flex items-center w-screen h-fit bg-[url('/images/beauty-pack2.jpg')] bg-cover bg-no-repeat bg-transparent-25">

  <div class="w-full h-full flex flex-col space-y-20 items-center inset-0 bg-gray-100 bg-opacity-80 py-20">
    <p class="relative mt-[-40px] text-4xl font-semibold text-gray-700 text-center before:content-[''] before:right-[50%] before:transform before:translate-x-1/2 before:absolute before:w-[80px] hover:before:w-[120px] before:bottom-[-20px] before:h-[1px] before:bg-[#db5762] before:transition-all before:duration-200">
      رضایت مشتریان
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
      <div class="relative flex flex-col items-center gap-8 w-[300px] h-[250px] p-4 bg-white shadow bg-glow">
        <p class="relative text-2xl font-semibold text-gray-600 text-center before:content-[''] before:right-[50%] before:transform before:translate-x-1/2 before:absolute before:w-[80px] hover:before:w-[120px] before:bottom-[-8px] before:h-[1px] before:bg-[#db5762] before:transition-all before:duration-200">
          Tina Akbari
        </p>

        <p class="text-center text-md text-gray-500">عالی عزیزم. مونا جون جزو نامبر وان های اهواز هست واقعا حرفه ای و خوش سلیقه <span class="text-red-500">&#x2764;</span></p>
        <p class="absolute bottom-2 right-[50%] transform translate-x-1/2 text-center text-md text-gray-600">15, مهر, 1401</p>
      </div>

      <div class="relative flex flex-col items-center gap-8 w-[300px] h-[250px] p-4 bg-white shadow bg-glow">
        <p class="relative text-2xl font-semibold text-gray-600 text-center before:content-[''] before:right-[50%] before:transform before:translate-x-1/2 before:absolute before:w-[80px] hover:before:w-[120px] before:bottom-[-8px] before:h-[1px] before:bg-[#db5762] before:transition-all before:duration-200">
          Behi1317
        </p>

        <p class="text-center text-md text-gray-500"><span>&#128525; &#128525; &#128525; &#128525; &#128525; &#128525;</span> خودتو تیمت واقعا بی نظیرید. همین فرمون برو جلو مونا جون <span>&#128525; &#128151;</span></p>
        <p class="absolute bottom-2 right-[50%] transform translate-x-1/2 text-center text-md text-gray-600">12, دی, 1401</p>
      </div>

      <div class="relative flex flex-col items-center gap-8 w-[300px] h-[250px] p-4 bg-white shadow bg-glow">
        <p class="relative text-2xl font-semibold text-gray-600 text-center before:content-[''] before:right-[50%] before:transform before:translate-x-1/2 before:absolute before:w-[80px] hover:before:w-[120px] before:bottom-[-8px] before:h-[1px] before:bg-[#db5762] before:transition-all before:duration-200">
          Nahid.Tabatabae
        </p>

        <p class="text-center text-md text-gray-500">بنظرم همه باید حداقل ماهی یکبار فیشیال پوستی داشته باشن به خاطر این که هوای ما بسیار آلوده س و نیاز مبرمه پوسته پاکسازی و ...</p>
        <p class="absolute bottom-2 right-[50%] transform translate-x-1/2 text-center text-md text-gray-600">15, دی, 1401</p>
      </div>

      <div class="relative flex flex-col items-center gap-8 w-[300px] h-[250px] p-4 bg-white shadow bg-glow">
        <p class="relative text-2xl font-semibold text-gray-600 text-center before:content-[''] before:right-[50%] before:transform before:translate-x-1/2 before:absolute before:w-[80px] hover:before:w-[120px] before:bottom-[-8px] before:h-[1px] before:bg-[#db5762] before:transition-all before:duration-200">
          Sanaz Jasbi
        </p>

        <p class="text-center text-md text-gray-500">عشقم کارت حرف نداره و ازین لذت میبرم که همیشه سلامت مو از همه چی برات مهم تره <span>&#128525;</span></p>
        <p class="absolute bottom-2 right-[50%] transform translate-x-1/2 text-center text-md text-gray-600">17, اردیبهشت, 1402</p>
      </div>
    </div>
  </div>

</section>