@{
}

<div id="home" class="background-image-div">
  <img class="hidden lg:block main-image"
       src="../images/test4.png"
       alt="test"
       draggable="false" />
  <img class="lg:hidden mobile-main-image"
       src="../images/test5.png"
       alt="test"
       draggable="false" />
  <div class="hidden absolute lg:flex flex-col gap-4 xl:gap-8 transform top-[50%] -translate-y-1/2 left-[100px] first-text-container text-main2">
    <p class="text-3xl xl:text-5xl text-right line-animation1">با ما</p>
    <p class="text-4xl xl:text-[4rem] text-center line-animation2 opacity-0">
      استایل زیبای خود را
    </p>
    <p class="text-3xl xl:text-5xl text-left line-animation3">بسازید</p>
  </div>
  <h1 class="lg:hidden text-center pt-40 text-4xl font-semibold text-main2">
    سالن زیبایی مونا امیری
  </h1>
  <svg id="go-reserve"
       class="absolute w-screen bottom-[-0.4px] rotate-180"
       viewBox="0 0 100 10"
       preserveAspectRatio="none">
    <path d="M0 0 L100 0 Q50 10 0 0 Z" fill="white" />
  </svg>
</div>

<a href="#home">
  <img id="go-top-arrow"
       class="fixed p-2 w-8 bottom-8 left-8 bg-white rounded-full shadow animate-bounce cursor-pointer"
       src="../images/Arrow.svg"
       alt="Arrow" />
</a>