<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <environment include="Development">
    <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
  </environment>
  <environment exclude="Development">
    <link href="~/css/main.min.css" asp-fallback-href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
  </environment>
  <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
  <link href="~/css/beauti.css" rel="stylesheet" asp-append-version="true" />

  @await RenderSectionAsync("Styles", required: false)

  <link href="~/fonts/fontiran.css" rel="stylesheet" />
  <title>@ViewData["Title"]</title>
</head>

<body class="font-yekanBakh">
  <header>
    <div id="desktop-header"
         class="fixed flex items-center justify-between w-full h-20 px-8 transition-all duration-500 z-20">
      <!-- Desktop menu -->
      <div class="hidden md:flex items-center justify-between">
        <a class="w-16" href="#home">
          <img src="../images/Logo.png" alt="Logo" />
        </a>
        <ul class="flex items-center justify-center p-4 mr-4 gap-8 text-gray-700">
          <li class="relative cursor-pointer button-underline">
            میکاپ آرتیست ها
          </li>
          <li class="relative cursor-pointer button-underline">
            درباره ی ما
          </li>
          <li class="relative cursor-pointer button-underline">تماس با ما</li>
        </ul>
      </div>

      <!-- Mobile menu -->
      <div class="flex md:hidden items-center justify-between">
        <img onclick="openMobileMenu()"
             class="w-[40px]"
             src="../images/mobile-menu.svg"
             alt="Mobile menu" />
      </div>

      <div id="mobile-menu"
           class="fixed top-0 right-[-100vw] bottom-0 w-screen flex flex-col items-center gap-16 bg-white transition-all duration-200 z-40">
        <img onclick="closeMobileMenu()"
             class="absolute w-[20px] top-4 right-4"
             src="../images/close.svg"
             alt="Mobile menu" />
        <img class="w-40 mt-20" src="../images/Logo.png" alt="Logo" />
        <a class="relative cursor-pointer button-underline" href="#go-reserve"> رزرو نوبت </a>
        <a class="relative cursor-pointer button-underline">
          میکاپ آرتیست ها
        </a>
        <a class="relative cursor-pointer button-underline"> درباره ی ما </a>
        <a class="relative cursor-pointer button-underline">تماس با ما</a>
      </div>

      <a class="px-4 py-2 animated-button" asp-area="Identity" asp-page="/Account/Login">ورود</a>
      <button class="px-4 py-2 animated-button"><a href="#go-reserve">رزرو نوبت</a></button>
    </div>
  </header>

  <main role="main" class="container">
    @RenderBody()
  </main>

  <script src="~/js/script.js" asp-append-version="true"></script>

  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>