@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
  @if (SignInManager.IsSignedIn(User))
  {
    <a asp-area="User" asp-page="/Manage/Index" class=" ml-2">پنل کاربری</a>
  }
  else
  {
    <li class="nav-item">
      <a class="px-4 py-2 ml-2" asp-area="Identity" asp-page="/Account/Login">ورود</a>
    </li>
  }
</ul>
