@page
@model RegisterModel
@{
  Layout = "_AdminLayout";
    ViewData["Title"] = "ثبت نام";
}

@section Styles {
  <link href="~/css/login.css" rel="stylesheet" />
}

<div class="flex items-center justify-center w-screen h-screen">
  <div class="form-container">
    <p class="title">ثبت نام</p>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form space-y-4">
      <div asp-validation-summary="ModelOnly" class="text-red-400"></div>
      <div class="input-group">
        <label for="username">نام کاربری</label>
        <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Input.Email" class="text-red-400"></span>
      </div>

      <div class="input-group">
        <label for="password">کلمه ی عبور</label>
        <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" />
        <span asp-validation-for="Input.Password" class="text-red-400"></span>
      </div>

      <div class="input-group">
        <label for="Input.ConfirmPassword">تکرار کلمه ی عبور</label>
        <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-red-400"></span>
      </div>

      <div>
        <button id="registerSubmit" type="submit" class="sign">ثبت نام</button>
      </div>
    </form>
    <div class="social-message">
      <div class="line"></div>
      <p class="message">ثبت نام کاربر جدید</p>
      <div class="line"></div>
    </div>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}